parameters:
	level: 5
	paths:
		- includes
		- openqr.php
		- uninstall.php
	excludePaths:
		analyse:
			- vendor
			- build
			- node_modules
			- tests
	customRulesetUsed: false
	treatPhpDocTypesAsCertain: false
